<aside class="aside-filters">
    <div class="wrapper-filters">
      <form id="formFilter">
        <button type="submit" class="hidden" id="submit-formFilter"></button>
        {%- for filter in collection_filters -%}
          <details
            class="details-form"
            open
          >
            <summary>
              <div class="filter--tittle">
                <h4>{{ filter.label }}</h4>
                {% render 'ico-arrow-t' %}
              </div>
            </summary>
  
            <div class="filter-item">
              {%- case filter.type -%}
                {%- when 'price_range' -%}
                  {% for product in collection.products %}
                    {% if forloop.first %}
                      {% assign lowest_price = product.price %}
                    {% endif %}
                    {% assign new_price = product.price %}
                    {% if new_price < lowest_price and new_price != 0 %}
                      {% assign lowest_price = new_price %}
                    {% endif %}
                  {% endfor %}
  
                  <div class="filter-group-display__price-range">
                    <div class="filter-range-bar range-slider">
                      <div class="class-wrapper-inputs">
                        <div class="wrapper-input-bar">
                          <div></div>
                          <div></div>
                          <div class="slider-track"></div>
                          <input
                            type="range"
                            style="width: 99%;"
                            name="{{ filter.min_value.param_name }}"
                            min="0"
                            max="{{filter.range_max}}"
                            value="0"
                            id="slider-1"
                          >
                          <input
                            type="range"
                            name="{{ filter.max_value.param_name }}"
                            min="0"
                            max="{{filter.range_max}}"
                            value="{{filter.range_max}}"
                            id="slider-2"
                          >
                        </div>
                        <div class="values">
                          <span id="range1"> De {{ 0 | money }} </span>
                          <span id="range2"> Até {{ filter.range_max | money }} </span>
                        </div>
                      </div>
                    </div>
                  </div>
                {%- when 'boolean' -%}
                  <ul class="pt-4">
                    <li>
                      <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                        <input
                          type="checkbox"
                          name="{{ filter.param_name }}"
                          value="{{ filter.true_value.value }}"
                          id="Filter-{{ filter.param_name }}"
                          {% if filter.true_value.active -%}
                            checked
                          {%- endif %}
                          {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                            disabled
                          {%- endif -%}
                        >
                        {{- filter.true_value.label -}}
                      </label>
                    </li>
                    <li>
                      <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                        <input
                          type="checkbox"
                          name="{{ filter.param_name }}"
                          value="{{ filter.false_value.value }}"
                          id="Filter-{{ filter.param_name }}"
                          {% if filter.false_value.active -%}
                            checked
                          {%- endif %}
                          {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                            disabled
                          {%- endif %}
                        >
                        {{- filter.false_value.label -}}
                      </label>
                    </li>
                  </ul>
  
                {%- when 'list' -%}
                  <ul class="pt-4">
                    {%- for filter_value in filter.values -%}
                      <li>
                        <label
                          for="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                        >
                          <input
                            type="checkbox"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                            {% if filter_value.count == 0 and filter_value.active == false -%}
                              disabled
                            {%- endif %}
                          >
                          <span class="hidden">
                            {%- case filter_value.display.type -%}
                              {%- when 'colors' -%}
                                {% liquid
                                  assign size_limit = filter_value.display.value.size | at_most: 4
                                  assign rotation = '0deg'
                                  if size_limit == 2
                                    assign rotation = '45deg'
                                  endif
  
                                  assign angle_increment = 360 | divided_by: size_limit
                                  assign angle = 0
                                %}
                                {%- capture conic_gradient -%}
                                            {%- for color in filter_value.display.value limit: size_limit -%}
                                              {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                            {%- endfor -%}
                                          {%- endcapture -%}
                                <span
                                  style="
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                  "
                                ></span>
                              {%- when 'image' -%}
                                {{
                                  filter_value.display.value
                                  | image_url: width: 25
                                  | image_tag: alt: filter_value.display.value.alt
                                }}
                              {%- else -%}
                                <span class="visual-display__child"></span>
                            {%- endcase -%}
                          </span>
                          {{ filter_value.label }} ({{filter_value.count }})
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
              {%- endcase -%}
            </div>
          </details>
        {%- endfor -%}
      </form>
    </div>
  </aside>