<div class="main-searchby">
  <p>Ordenar por:</p>
  <ul id="sort-by" class="hidden">
    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

    {% for option in collection.sort_options %}
      {% case option.value %}
        {% when 'best-selling' %}
          <li
            data-value="{{ option.value }}"
            value="{{ option.value }}"
            {% if option.value == sort_by %}
              selected="selected"
            {% endif %}
          >
            <p>Mais vendidos</p>
          </li>

        {% when 'price-ascending' %}
          <li
            data-value="{{ option.value }}"
            value="{{ option.value }}"
            {% if option.value == sort_by %}
              selected="selected"
            {% endif %}
          >
            <p>Menor preço</p>
          </li>

        {% when 'manual' %}
          <li
            data-value="{{ option.value }}"
            value="{{ option.value }}"
            {% if option.value == sort_by %}
              selected="selected"
            {% endif %}
          >
            <p>Manual</p>
          </li>

        {% when 'price-descending' %}
          <li
            data-value="{{ option.value }}"
            value="{{ option.value }}"
            {% if option.value == sort_by %}
              selected="selected"
            {% endif %}
          >
            <p>Maior Preço</p>
          </li>

        {% else %}

      {% endcase %}
    {% endfor %}
  </ul>
  <div class="wrapper-select-sort-by">
    <select>
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

      {% for option in collection.sort_options %}
        {% case option.value %}
          {% when 'best-selling' %}
            <option
              data-value="{{ option.value }}"
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              <p>Mais vendidos</p>
            </option>

          {% when 'price-ascending' %}
            <option
              data-value="{{ option.value }}"
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              <p>Menor preço</p>
            </option>

          {% when 'manual' %}
            <option
              data-value="{{ option.value }}"
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              <p>Manual</p>
            </option>

          {% when 'price-descending' %}
            <option
              data-value="{{ option.value }}"
              value="{{ option.value }}"
              {% if option.value == sort_by %}
                selected="selected"
              {% endif %}
            >
              <p>Maior Preço</p>
            </option>

          {% else %}

        {% endcase %}
      {% endfor %}
    </select>
  </div>
</div>