<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    {% if request.page_type == 'index' %}
      <meta name="description" content="Evotrac">
    {% endif %}
    {% if request.page_type == 'product' %}
      {% if product.metafields.custom.meta_descricao != blank %}
        <meta name="description" content="{{ product.metafields.custom.meta_descricao}}">
      {% else %}
        <meta name="description" content="Evotrac - {{ product.title }}">
      {% endif %}
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    {{ content_for_header }}

    {% if settings.favicon != blank %}
      <link
        rel="icon"
        href="{{ settings.favicon |  image_url  }}"
        type="image/png"
        sizes="48x48"
      >
    {% endif %}

    {%- capture seo_title -%}
      {{ page_title }}
      {%- if current_tags -%}
        {% comment %} {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}} {% endcomment %}
      {%- endif -%}
      {%- if current_page != 1 -%}
        {% comment %} &ndash; {{ 'general.meta.page' | t: page: current_page }} {% endcomment %}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {% style %}
      :root {
        --page-width:{{ settings.page_width }}px;
        --padding-horizontal: {{ settings.padding_horizontal }}rem;
      }
      {% for scheme in settings.color_schemes -%}
        {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
        {% if forloop.index == 1 -%}
          :root,
        {%- endif %}
        .color-{{ scheme.id }} {
          --color-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        {% if scheme.settings.background_gradient != empty %}
          --gradient-background: {{ scheme.settings.background_gradient }};
        {% else %}
          --gradient-background: {{ scheme.settings.background }};
        {% endif %}

        {% liquid
          assign background_color = scheme.settings.background
          assign background_color_brightness = background_color | color_brightness
          if background_color_brightness <= 26
            assign background_color_contrast = background_color | color_lighten: 50
          elsif background_color_brightness <= 65
            assign background_color_contrast = background_color | color_lighten: 5
          else
            assign background_color_contrast = background_color | color_darken: 25
          endif
        %}

        --color-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-background-contrast: {{ background_color_contrast.red }},{{ background_color_contrast.green }},{{ background_color_contrast.blue }};
        --color-shadow: {{ scheme.settings.shadow.red }},{{ scheme.settings.shadow.green }},{{ scheme.settings.shadow.blue }};
        --color-button: rgb({{ scheme.settings.button.red }},{{ scheme.settings.button.green }},{{ scheme.settings.button.blue }});
        --color-button-text: rgb({{ scheme.settings.button_label.red }},{{ scheme.settings.button_label.green }},{{ scheme.settings.button_label.blue }});
        --color-secondary-button: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
        --color-secondary-button-text: rgb({{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }});
        --color-link: rgb({{ scheme.settings.secondary_button_label.red }},{{ scheme.settings.secondary_button_label.green }},{{ scheme.settings.secondary_button_label.blue }});
        --color-badge-foreground: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --color-badge-background: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
        --color-badge-border: {{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }};
        --payment-terms-background-color: rgb({{ scheme.settings.background.rgb }});
      }
      {% endfor %}

      {{ scheme_classes | prepend: 'body' }} {
        color: rgba(var(--color-foreground));
        background-color: rgb(var(--color-background));
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'card-component.css' | asset_url | stylesheet_tag }}

    {% if request.page_type == 'index' %}
    {{ 'home.css' | asset_url | stylesheet_tag }}
    {% endif %}

    <link
      rel="stylesheet"
      href="{{ 'component-predictive-search.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >

        <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    {% sections 'header-group' %}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% comment %}
      {% section 'main-minicart' %}

      {% section 'main-footer' %}
    {% endcomment %}
    {%- render 'cart-drawer' -%}
    <close-drawer class="overlay"></close-drawer>

      {% sections 'footer-group' %}
 
    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}.js',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };
    </script>

 
    <script src="{{ 'cart.js' | asset_url }}" defer></script>
    <script src="{{ 'global.js' | asset_url }}" defer></script>
    <script src="{{ 'cart-elements.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'quick-add.js' | asset_url }}" defer></script>
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper-instance.js' | asset_url }}" defer></script>

  </body>
</html>
