{{ 'cartPage.css' | asset_url | stylesheet_tag }}
{% assign remainingAmount = section.settings.frete_gratis | minus: cart.total_price %}
{% assign remainingAmountFormatted = remainingAmount | money %}
{% assign textBar = section.settings.text_bar | split: '/' %}
<style>
  .shipping-bar {
    padding-bottom: 1.8rem;
  }
  #free-shipping-bar p {
    padding-top: 1rem;
    font-size: 14px;
    text-align: center;
    line-height: 2rem;
  }
</style>
<div class="container" id="cart-template">
  <h1>Meu Carrinho</h1>
  {% if cart.empty? %}
    <div class="empty-cart-page">
      <h2>Seu Carrinho Está vazio :(</h2>
      <a href="/">Escolher Produtos</a>
    </div>

  {% else %}
    {% form 'cart', cart, class: 'cart-page-form' %}
      <table style="width: 100%;" class="wrapper_items">
        <thead>
          <tr>
            <th style="text-align: start;" class="title-1" colspan="2" scope="col">Produto</th>
            <th
              class="title-2"
              colspan="1"
              scope="col"
            >
              Quantidade
            </th>
            <th class="title-3" colspan="1" scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr is="cart-item" data-line-item-key="{{ item.key }}">
              <td class="image-item">...</td>

              <td class="url-item">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
              </td>

              <td class="actions-btn-item">
                <cart-qty data-line-item-key="{{ item.key }}">
                  <button class="minus svg-wrapper" data-minus>
                    {{ 'icon-minus.svg' | inline_asset_content }}
                  </button>

                  <input
                    data-qty-input
                    class="quantity__input"
                    type="number"
                    value="{{ item.quantity }}"
                  >

                  <button class="plus svg-wrapper" data-plus>
                    {{ 'icon-plus.svg' | inline_asset_content }}
                  </button>
                </cart-qty>
              </td>

              <td class="price-item">
                {{ item.final_line_price | money }}
              </td>

              <td class="cart-remove-item">
                <cart-remove
                  class="svg-wrapper small"
                  data-remove-item-id="{{ item.key }}"
                  data-remove
                >
                  {{ 'ico-trash.svg' | inline_asset_content }}
                </cart-remove>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <footer class="cart-footer">
        <div class="wrapper-footer-cart">
          {% if cart.total_discounts > 0 %}
            <div class="cart-totalizer">
              <h3>Descontos</h3>
              <span>{{ cart.total_discounts | money }}</span>
            </div>
          {% endif %}
          <div class="cart-totalizer">
            <h3 class="text-custom-black text-lg">Subtotal</h3>
            <span class="text-custom-black">{{ cart.items_subtotal_price | money }}</span>
          </div>
          <button
            aria-label="Ir para checkout"
            type="submit"
            name="checkout"
            class="w-full bg-[#35735A] text-white p-4"
          >
            FECHAR PEDIDO
          </button>

          {% if section.settings.active_discount_quantity %}
            <div class="quantity-pdp-wrapper"></div>
          {% endif %}
        </div>
      </footer>
    {% endform %}
  {% endif %}
</div>

<script>
      class CartPage extends HTMLElement {
    constructor() {
      super();
      subscribe(PUB_SUB_EVENTS.cartUpdateUi, this._replacePage.bind(this));
    }

    connectedCallback() {
      // poderia iniciar algo aqui depois se quiser
    }

    _replacePage({ responseText }) {
      const html = new DOMParser().parseFromString(responseText, "text/html");
      const newPage = html.querySelector("#cart-template");

      if (newPage) {
        this.replaceWith(newPage);
      }
    }
  }

  customElements.define("cart-page", CartPage);

  class CartItem extends HTMLElement {
    connectedCallback() {
      this.lineId = this.dataset.lineItemKey;

      this.minusBtn = this.querySelector("[data-minus]");
      this.plusBtn = this.querySelector("[data-plus]");
      this.qtyInput = this.querySelector("[data-qty-input]");
      this.removeBtn = this.querySelector("[data-remove]");

      console.log(this.lineId)

      if (this.minusBtn)
        this.minusBtn.addEventListener("click", () => this._change(-1));

      if (this.plusBtn)
        this.plusBtn.addEventListener("click", () => this._change(1));

      if (this.qtyInput)
        this.qtyInput.addEventListener("change", () =>
          cartService.updateQuantity(this.lineId, parseInt(this.qtyInput.value))
        );

      if (this.removeBtn)
        this.removeBtn.addEventListener("click", () =>
          cartService.removeItem(this.lineId)
        );
    }

    _change(delta) {
      const newQty = parseInt(this.qtyInput.value) + delta;
      if (newQty <= 0) return;
      cartService.updateQuantity(this.lineId, newQty);
    }
  }

  customElements.define("cart-item", CartItem);

  class CartRemove extends HTMLElement {
    connectedCallback() {
      this.addEventListener("click", () => {
        const id = this.dataset.removeItemId;
        cartService.removeItem(id);
      });
    }
  }
  customElements.define("cart-remove", CartRemove);

    class CartQty extends HTMLElement {
      connectedCallback() {
        this.lineId = this.dataset.lineItemKey;

        this.minus = this.querySelector('[data-minus]');
        this.plus = this.querySelector('[data-plus]');
        this.input = this.querySelector('[data-qty-input]');

        this.minus.addEventListener('click', (ev) => {
          ev.preventDefault();
          this._update(-1);
        });
        this.plus.addEventListener('click', (ev) => {
          ev.preventDefault();
          this._update(1);
        });

        this.input.addEventListener('change', () => cartService.updateQuantity(this.lineId, parseInt(this.input.value)));
      }

      _update(delta) {
        const newValue = parseInt(this.input.value) + delta;
        cartService.updateQuantity(this.lineId, newValue);
      
      }
    }

    customElements.define('cart-qty', CartQty);
  class CartPageUI {
    constructor() {
      subscribe(PUB_SUB_EVENTS.cartUpdateUi, this.updateUI.bind(this));
    }

    updateUI(data) {
      const html = new DOMParser().parseFromString(data.responseText, 'text/html');
      console.log(html)
    }

  }
  const CartPageUI = new CartPageUI();
</script>
{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "header",
      "content": "Valor Frete gratis"
    },
    {
      "type": "checkbox",
      "label": "active shipping bar",
      "id": "active_shipping_bar",
      "default": true
    },
    {
      "type": "number",
      "id": "frete_gratis",
      "label": "ex: 10000 = R$100",
      "default": 10000
    },
    {
      "type": "text",
      "id": "text_bar",
      "label": "[Primeira parte da frase]/[Segunda parte da frase]",
      "default": "Compre mais/para conseguir frete grátis"
    },
    {
      "type": "header",
      "content": "Número de produtos para descount"
    },
    {
      "type": "checkbox",
      "label": "active discount quantity ",
      "id": "active_discount_quantity",
      "default": true
    },
    {
      "type": "number",
      "id": "product_number",
      "label": "Quantitdade para se ter desconto ex: 5",
      "default": 3
    },
    {
      "type": "number",
      "id": "percent_discount",
      "label": "Porcentagem do desconto ex: 10",
      "default": 5
    },
    {
      "type": "text",
      "id": "text_free_shipping",
      "label": "ex: Parabéns você possui <strong>frete grátis :) </strong> ",
      "default": "Parabéns você possui <strong>frete grátis :) </strong>"
    }
  ]
}
{% endschema %}
