{{ 'cartPage.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-cart.js' | asset_url }}" defer></script>

{% assign remainingAmount = section.settings.frete_gratis | minus: cart.total_price %}
{% assign remainingAmountFormatted = remainingAmount | money %}
{% assign textBar = section.settings.text_bar | split: '/' %}
<style>
  .shipping-bar {
    padding-bottom: 1.8rem;
  }
  #free-shipping-bar p {
    padding-top: 1rem;
    font-size: 14px;
    text-align: center;
    line-height: 2rem;
  }
</style>
<div class="page-width" id="cart-template">
  <h1>Meu Carrinhos</h1>
  {% if cart.empty? %}
    <div class="empty-cart-page">
      <h2>Seu Carrinho Está vazio :(</h2>
      <a href="/">Escolher Produtos</a>
    </div>

  {% else %}
    {% form 'cart', cart, class: 'cart-page-form' %}
      <table style="width: 100%;" class="wrapper_items">
        <thead>
          <tr>
            <th style="text-align: start;" class="title-1" colspan="2" scope="col">Produto</th>
            <th
              class="title-2"
              colspan="1"
              scope="col"
            >
              Quantidade
            </th>
            <th class="title-3" colspan="1" scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr is="cart-item" data-line-item-key="{{ item.key }}">
              <td class="image-item">
                <img
                  src="{{ item.image | image_url: width: 80 }}"
                  alt="{{ item.image.alt }}"
                  width="80"
                  height="80"
                  loading="lazy"
                >
              </td>

              <td class="url-item">
                <a href="{{ item.url }}">{{ item.product.title }}</a>
              </td>

              <td class="actions-btn-item">
                <cart-qty data-line-item-key="{{ item.key }}">
                  <button class="minus svg-wrapper" data-minus>
                    {{ 'icon-minus.svg' | inline_asset_content }}
                  </button>

                  <input
                    data-qty-input
                    class="quantity__input"
                    type="number"
                    value="{{ item.quantity }}"
                  >

                  <button class="plus svg-wrapper" data-plus>
                    {{ 'icon-plus.svg' | inline_asset_content }}
                  </button>
                </cart-qty>
              </td>

              <td class="price-item">
                {{ item.final_line_price | money }}
              </td>

              <td class="cart-remove-item">
                <cart-remove
                  class="svg-wrapper small"
                  data-remove-item-id="{{ item.key }}"
                  data-remove
                >
                  {{ 'ico-trash.svg' | inline_asset_content }}
                </cart-remove>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <footer class="cart-footer">
        <div class="wrapper-footer-cart">
          {% if cart.total_discounts > 0 %}
            <div class="cart-totalizer">
              <h3>Descontos</h3>
              <span>{{ cart.total_discounts | money }}</span>
            </div>
          {% endif %}
          <div class="cart-totalizer">
            <h3 class="text-custom-black text-lg">Subtotal</h3>
            <span class="text-custom-black">{{ cart.items_subtotal_price | money }}</span>
          </div>
          <button
            aria-label="Ir para checkout"
            type="submit"
            name="checkout"
            class="w-full bg-[#35735A] text-white p-4"
          >
            FECHAR PEDIDO
          </button>

          {% if section.settings.active_discount_quantity %}
            <div class="quantity-pdp-wrapper"></div>
          {% endif %}
        </div>
      </footer>
    {% endform %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "header",
      "content": "Valor Frete gratis"
    },
    {
      "type": "checkbox",
      "label": "active shipping bar",
      "id": "active_shipping_bar",
      "default": true
    },
    {
      "type": "number",
      "id": "frete_gratis",
      "label": "ex: 10000 = R$100",
      "default": 10000
    },
    {
      "type": "text",
      "id": "text_bar",
      "label": "[Primeira parte da frase]/[Segunda parte da frase]",
      "default": "Compre mais/para conseguir frete grátis"
    },
    {
      "type": "header",
      "content": "Número de produtos para descount"
    },
    {
      "type": "checkbox",
      "label": "active discount quantity ",
      "id": "active_discount_quantity",
      "default": true
    },
    {
      "type": "number",
      "id": "product_number",
      "label": "Quantitdade para se ter desconto ex: 5",
      "default": 3
    },
    {
      "type": "number",
      "id": "percent_discount",
      "label": "Porcentagem do desconto ex: 10",
      "default": 5
    },
    {
      "type": "text",
      "id": "text_free_shipping",
      "label": "ex: Parabéns você possui <strong>frete grátis :) </strong> ",
      "default": "Parabéns você possui <strong>frete grátis :) </strong>"
    }
  ]
}
{% endschema %}
